/* ===== NAVBAR ===== */
.navbar {
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.6rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-logo span {
  color: #888;
  font-weight: 400;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #888;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-login,
.btn-logout {
  border: none;
  background: none;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.2s ease;
}

.btn-login:hover,
.btn-logout:hover {
  color: #888;
}

.cart-icon {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: rgb(16, 136, 22);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 2px 6px;
}

.btn-register{
  border: none;
  background: none;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.2s ease;
}

.btn-register:hover{
  color: #888;
}