html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* asegura que ocupe todo el alto */
}

main {
  flex: 1; /* empuja el footer hacia abajo */
}
